header,
.project:not(:last-child) {
  border-bottom: 1px solid red;
}

.no-button {
  background: none;
  border: dashed;
  padding: 1px;
  cursor: grabbing;
  color: #891bbc;
  font-size: 100%;
}

.no-button:hover {
  color: #e6e340;
  text-decoration: double underline;
}

.dollar-amount {
  color: #396605;
  margin-left: -4px;
  font-weight: bold;
}
